/* = !PRACTICAL TYPOGRAPHY

// The four most important typographic choices you make in any
   project are point size, line spacing, line length, and font,
   because those choices determine how the body text looks

// line-height should be 120-145% of font-size

// line-length should be 45-90 characters (including spaces)

// use 5–12% extra letterspacing with all caps and small caps

---------------------------------------------------------------- */

:root {
  --primary: theme(colors.primary);
  --secondary: theme(colors.secondary);
  --tertiary: theme(colors.tertiary);
  --grayDarker: theme(colors.grayDarker);
  --grayDark: theme(colors.grayDark);
  --grayLight: theme(colors.grayLight);
  --grayLighter: theme(colors.grayLighter);
  --white: theme(colors.white);

  --fontCompressed: theme(fontFamily.compressed);
  --fontCondensed: theme(fontFamily.condensed);
  --fontRegular: theme(fontFamily.regular);
  --fontExtended: theme(fontFamily.extended);

  --spaceRow: theme(spacing.row);
  --spaceRow2: theme(spacing.row2);
  --spaceRow3: theme(spacing.row3);

  --weightNormal: theme(fontWeight.normal);
  --weightBold: theme(fontWeight.bold);
}

html {
  font-size: 14px;
  line-height: 1.5;
}
.debugDev404 {
  .debugDev404Innner {
    width: 70%;
    margin: 0 auto;
    padding-top: 5rem;
  }
  #search {
    border: 2px solid var(--primary);
    margin: 0 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  * {
    font-size: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

body {
  font-family: var(--fontRegular);
  color: var(--grayDarker);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--secondary);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--grayDarker);
}

h1,
.h1 {
  font-weight: var(--weightNormal);
  font-family: var(--fontCompressed);
  font-size: 14.2857143rem;
  line-height: 0.9;
  text-transform: uppercase;

  small {
    font-size: 0.66667em;
  }
}

h2,
.h2 {
  font-weight: var(--weightBold);
  font-family: var(--fontExtended);
  font-size: 2.57142857rem;
  line-height: 1.2;
  text-transform: uppercase;

  small {
    font-size: 0.66667em;
  }
}

h3,
.h3 {
  font-weight: var(--weightNormal);
  font-family: var(--fontRegular);
  font-size: 2.14285714rem;
  line-height: 1.25;
  text-transform: none;
}

h4,
.h4 {
  font-weight: var(--weightBold);
  font-family: var(--fontExtended);
  font-size: 1rem;
  line-height: 1.33333;
  text-transform: uppercase;

  small {
    font-size: 1em;
  }
}

h5,
.h5 {
  font-weight: var(--weightBold);
  font-family: var(--fontCondensed);
  font-size: 1.71428571rem;
  line-height: 1.16667;
  text-transform: uppercase;
}

h6,
.h6 {
  font-family: var(--fontCondensed);
  font-weight: var(--weightNormal);
  font-size: 1.28571429rem;
  line-height: 1.33333;
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

@screen tl {
  html {
    font-size: 16px;
  }
}

@screen d {
  html {
    font-size: 18px;
  }

  h1,
  .h1 {
    font-size: 16.6667rem;
  }

  h2,
  .h2 {
    font-size: 4rem;

    small {
      font-size: 0.83333em;
    }
  }

  h3,
  .h3 {
    font-size: 2.77778rem;
  }

  h4,
  .h4 {
    font-size: 1.33333rem;

    small {
      font-size: 0.75em;
    }
  }

  h5,
  .h5 {
    font-size: 2rem;
  }

  h6,
  .h6 {
    font-size: 1.33333rem;
  }
}

a {
  color: var(--primary);
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
p {
  margin-top: 0;
  margin-bottom: 1em;
}
ul {
  margin: 1rem 0;

  ul {
    margin: 0.5rem 0;
    list-style: circle;

    ul {
      list-style: square;
    }
  }
}
