/* = !PRACTICAL TYPOGRAPHY

// The four most important typographic choices you make in any
   project are point size, line spacing, line length, and font,
   because those choices determine how the body text looks

// line-height should be 120-145% of font-size

// line-length should be 45-90 characters (including spaces)

// use 5–12% extra letterspacing with all caps and small caps

---------------------------------------------------------------- */

html {
  font-size: 14px;
  line-height: 1.5;
}

body {
  @apply font-regular text-grayDarker;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

::selection {
  @apply bg-secondary;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @apply text-grayDarker;
}

h1,
.h1 {
  @apply font-normal font-compressed;
  font-size: 14.2857143rem;
  line-height: 0.9;
  text-transform: uppercase;

  small {
    font-size: 0.66667em;
  }
}

h2,
.h2 {
  @apply font-bold font-extended;
  font-size: 2.57142857rem;
  line-height: 1.2;
  text-transform: uppercase;

  small {
    font-size: 0.66667em;
  }
}

h3,
.h3 {
  @apply font-regular font-normal;

  font-size: 2.14285714rem;
  line-height: 1.25;
  text-transform: none;
}

h4,
.h4 {
  @apply font-extended font-bold;
  font-size: 1rem;
  line-height: 1.33333;
  text-transform: uppercase;

  small {
    font-size: 1em;
  }
}

h5,
.h5 {
  @apply font-condensed font-bold;
  font-size: 1.71428571rem;
  line-height: 1.16667;
  text-transform: uppercase;
}

h6,
.h6 {
  @apply font-condensed font-normal;
  font-size: 1.28571429rem;
  line-height: 1.33333;
  text-transform: uppercase;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

@include min(tablet-portrait) {
  //content
}

@include min(tablet-landscape) {
  html {
    font-size: 16px;
  }
}

@include min(desktop) {
  html {
    font-size: 18px;
  }

  h1,
  .h1 {
    font-size: 16.6667rem;
  }

  h2,
  .h2 {
    font-size: 4rem;

    small {
      font-size: 0.83333em;
    }
  }

  h3,
  .h3 {
    font-size: 2.77778rem;
  }

  h4,
  .h4 {
    font-size: 1.33333rem;

    small {
      font-size: 0.75em;
    }
  }

  h5,
  .h5 {
    font-size: 2rem;
  }

  h6,
  .h6 {
    font-size: 1.33333rem;
  }
}

@include min(desktop-large) {
  //content
}
